<?xml version="1.0" encoding="utf8" standalone="yes" ?>
<!DOCTYPE XML [
  <!ELEMENT XML (MENU*)>
  <!ELEMENT MENU (TITLE,(RUBRIQUE?,(ITEM|VIDEO|QUIZ)+)*)>
  <!ATTLIST MENU dir CDATA #REQUIRED>
  <!ELEMENT TITLE (P+)>
  <!ELEMENT RUBRIQUE (P+)>
  <!ELEMENT ITEM (P+)>
  <!ATTLIST ITEM file CDATA #REQUIRED>
  <!ELEMENT VIDEO (P+)>
  <!ATTLIST VIDEO video CDATA #REQUIRED>
  <!ATTLIST VIDEO json CDATA #REQUIRED>
  <!ELEMENT QUIZ (P+)>
  <!ATTLIST QUIZ qwiz CDATA #REQUIRED>
  <!ELEMENT P (#PCDATA)>
  <!ATTLIST P lang (fr|gb) #REQUIRED>
]>
<XML>
	<MENU dir="Micropython">
		<TITLE>
			<P lang="fr">Micropython</P>
			<P lang="gb">Micropython</P>
		</TITLE>
		<ITEM file="get_started.html">
			<P lang="fr">Paramètres</P>
			<P lang="gb">Settings</P>
		</ITEM>
		<RUBRIQUE>
			<P lang="fr">Cours</P>
			<P lang="gb">Course</P>
		</RUBRIQUE>
		<ITEM file="micro_python_basics.html">
			<P lang="fr">Bases</P>
			<P lang="gb">Basics</P>
		</ITEM>
		<ITEM file="gpio_programming.html">
			<P lang="fr">programmation des GPIO</P>
			<P lang="gb">GPIO programming</P>
		</ITEM>
		<ITEM file="I2C_SPI_COMM.html">
			<P lang="fr">Communication I2C et SPI</P>
			<P lang="gb">I2C and SPI Communication</P>
		</ITEM>
		<ITEM file="analog_inp_out.html">
			<P lang="fr">Entrée et Sortie analogiques</P>
			<P lang="gb">Analog input and output</P>
		</ITEM>
		<ITEM file="net_comm.html">
			<P lang="fr">Networking et Communication</P>
			<P lang="gb">Networking and Communication</P>
		</ITEM>
		<RUBRIQUE>
			<P lang="fr">TP</P>
			<P lang="gb">LAB</P>
		</RUBRIQUE>
		<ITEM file="real_world.html">
			<P lang="fr">Projet</P>
			<P lang="gb">Project</P>
		</ITEM>
		<ITEM file="real_world.html">
			<P lang="fr">Corrigé</P>
			<P lang="gb">Correction</P>
		</ITEM>
		<ITEM file="adv.html">
			<P lang="fr">Avancée</P>
			<P lang="gb">Advanced</P>
		</ITEM>
		<RUBRIQUE>
			<P lang="fr">Ressources</P>
			<P lang="gb">Resources</P>
		</RUBRIQUE>
		<ITEM file="res_for_learn.html">
			<P lang="fr">Ressources</P>
			<P lang="gb">Resources</P>
		</ITEM>
	</MENU>

	<MENU dir="Arduino">
		<TITLE>
			<P lang="fr">Arduino</P>
			<P lang="gb">Arduino</P>
		</TITLE>
		<ITEM file="composants.html">
			<P lang="fr">Composants</P>
			<P lang="gb">Components</P>
		</ITEM>
		<ITEM file="Fonctionnement.html">
			<P lang="fr">Fonctionnement</P>
			<P lang="gb">Operations</P>
		</ITEM>
		<ITEM file="decodage.html">
			<P lang="fr">Décodage</P>
			<P lang="gb">Decoding</P>
		</ITEM>
		<RUBRIQUE>
			<P lang="fr">TP</P>
			<P lang="gb">LAB</P>
		</RUBRIQUE>
		<ITEM file="projet_isen_fini.html">
			<P lang="fr">Projet</P>
			<P lang="gb">Project</P>
		</ITEM>		
		
	</MENU>

	<MENU dir="LangageC">
		<TITLE>
			<P lang="fr">Langage C</P>
			<P lang="gb">Language C</P>
		</TITLE>
		<ITEM file="Windows.html">
			<P lang="fr">Installation Windows</P>
			<P lang="gb">Setup Windows</P>
		</ITEM>
		<ITEM file="blinkW.html">
			<P lang="fr">Exemple Windows</P>
			<P lang="gb">Example Windows</P>
		</ITEM>
		<ITEM file="blinkL.html">
			<P lang="fr">Exemple Linux</P>
			<P lang="gb">Example Linux</P>
		</ITEM>
	</MENU>

	<MENU dir="SE">
		<TITLE>
			<P lang="fr">Système d'exploitations</P>
			<P lang="gb">Operating system</P>
		</TITLE>
		
	</MENU>

	<MENU dir="apropos">
		<TITLE>
			<P lang="fr">A propos</P>
			<P lang="gb">About</P>
		</TITLE>
	</MENU>
</XML>